<html> 
<head> 
  <style> 
  div.Amargasaurus { 
    text-align: center; 
    color: white; 
  } 
  body{ 
    background-image: url(/images/folhas3.jpg); 
    background-attachment: fixed; 
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-color: black; 
  } 
  div.classificacao { 
    text-align: center; 
  } 
  div.texto { 
    padding: 180px; 
    color: white; 
    font-family: 'Courier New', Courier, monospace; 
  } 
  p{ 
    font-size: 25px; 
  } 
  .lbox { 
    visibility: hidden; 
    opacity: 0; 
  } 
  ul { 
    width: 880px; 
    list-style: none; 
    display: flex; 
    margin: 100px auto; 
  } 
  .min { 
    width: 200px; 
    padding: 10px; 
  } 
  .lbox:target { 
    opacity: 1; 
    visibility: visible; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    background: rgba(10,10,10,.7); 
    position: fixed; 
  } 
  .box_img { 
    width: 1000px; 
    margin: 50px auto; 
  } 
  .btn { 
    color: white; 
    font-family: 'Arial'; 
    text-decoration: none; 
    position: absolute; 
    width: 50px; 
    height: 50px; 
    font-size: 40px; 
    text-align: center; 
  } 
  #prev{ 
    left: 5%; 
    top: 45%; 
  } 
  #next{ 
    right: 5%; 
    top: 45%; 
  } 
  #close { 
    top: 0; 
    right: 2%; 
  } 
  .box_img img{ 
    opacity: o; 
  } 
  .lbox:target .box_img img { 
    opacity: 1; 
    transition: opacity .4s linear 
  } 
  </style> 
</head> 
<body> 

  <div class="dropdown">
    <button onmouseover=myFunction() onmouseout=myFunction() class="dropbtn">Barra</button>
    <script src="/javascripts/Funcoes.js"></script>
    <div id="myDropdown" onmouseout=myFunction() class="dropdown-content">
        <a href="#Inicio">Imagens</a>
        <a href="#conheca" >Informações Gerais</a>    
        <a href="#alimentacao">Alimentação</a>
        <a href="#porte">Porte</a>
        <a href="#classificacaocientifica">Classificação Científica</a>
    </div>
  </div>
  
  <div class="Amargasaurus"> 
    <br><br> 
    <h1 id="Inicio">Amargasaurus</h1> 
 
<ul> 
    <li><a href="#img1"><img src="/images/amargasaurus2.jpg" width="450" height="300" class="min"></a></li> 
    <li><a href="#img2"><img src="/images/amargasaurus.jpg" width="450" height="300" class="min"></a></li> 
    <li><a href="#img3"><img src="/images/amargasaurus3.jpg" width="450" height="300" class="min"></a></li> 
  </ul> 
 
  <div class="lbox" id="img1"> 
    <div class="box_img"> 
      <a href="img3" class="btn" id="prev">&#171;</a> 
      <a href="" class="btn" id="close">x</a>  
      <img src="/images/amargasaurus2.jpg"> 
      <a href="img2" class="btn" id="next">&#187;</a>  
    </div> 
  </div> 
 
  <div class="lbox" id="img2"> 
    <div class="box_img"> 
      <a href="img1" class="btn" id="prev">&#171;</a> 
      <a href="" class="btn" id="close">x</a>  
      <img src="/images/amargasaurus.jpg"> 
      <a href="img3" class="btn" id="next">&#187;</a>  
    </div> 
  </div> 
 
  <div class="lbox" id="img3"> 
    <div class="box_img"> 
      <a href="img2" class="btn" id="prev">&#171;</a> 
      <a href="" class="btn" id="close">x</a>  
      <img src="/images/amargasaurus3.jpg"> 
      <a href="img1" class="btn" id="next">&#187;</a>  
    </div> 
  </div> 
 
 
 
 
 
 
 
 
 
 
    <!--<br> 
      <figure> 
        <img src="/images/amargasaurus2.jpg" alt="Dinos" width="450" height="300"> 
        <img src="/images/amargasaurus.jpg" alt="Dinos" width="450" height="300"> 
        <img src="/images/amargasaurus3.jpg" alt="Dinos" width="450" height="300"> 
      </figure> 
    <br>--> 
    <div class="texto"> 
    <h2><strong><p id="conheca" class="text">CONHEÇA ESSE DINO</p></strong></h2> 
    <p align="justify"><em>Amargasaurus</em> é um género de saurópode, dinossauro do Cretáceo Inferior (129,4-122,46 mya).  
        O único esqueleto conhecido foi descoberto em 1984 e está praticamente completo, incluindo um crânio fragmentado,  
        tornando o Amargasaurus um dos saurópodes mais conhecidos de sua época. O amargasaurus foi descrito  
        pela primeira vez em 1991 e contém uma única espécie, <em>Amargasaurus cazaui</em>.  
        Era um animal grande, mas pequeno para um saurópode,  
        atingindo 9 a 10 metros (30 a 33 pés) de comprimento. Mais distintamente,  
        exibia duas fileiras paralelas de espinhos altos no pescoço e nas costas,  
        mais altos do que em qualquer outro saurópode conhecido.  
        Na vida, esses espinhos provavelmente poderiam ter se destacado no  
        corpo como estruturas solitárias que sustentavam uma bainha queratinosa.  
        O Amargasaurus foi descoberto em rochas sedimentares da Formação La Amarga,  
        que remonta aos estágios barremiano e aptiano tardio do início do Cretáceo. Dentro do Sauropoda, 
        o Amargasaurus é classificado como um membro da família <em>Dicraeosauridae</em>,  
        que difere de outros saurópodes por mostrar pescoços mais curtos e tamanhos corporais menores.</p> 
        <br><br> 
    <h2><strong><p id="alimentacao" class="text">ALIMENTAÇÃO</p></strong></h2> 
    <p align="justify">Como herbívoro,  
        compartilhou seu ambiente com pelo menos três outros gêneros de saurópodes,  
        que poderiam ter explorado diferentes fontes de alimentos para reduzir a concorrência.  
        O amargasauro provavelmente se alimentou a meia altura,  
        como mostra a orientação da orelha interna e a articulação das vértebras do pescoço,  
        o que sugere uma posição habitual do focinho a 80 centímetros (31 polegadas)  
        acima do solo e uma altura máxima de 2,7 metros (8,9 pés).</p> 
        <br><br> 
    <h2><strong><p id="porte" class="text">PORTE</p></strong></h2> 
    <p align="justify">O amargasauro era pequeno para um saurópode, medindo 9 a 10 metros (30 a 33 pés):  
        304 de comprimento e pesando aproximadamente 2,6 toneladas (2,9 toneladas).   
        Seguia o plano típico do corpo dos saurópodes , com cauda e pescoço longos,  
        cabeça pequena e tronco em forma de barril, sustentado por quatro pernas em forma de coluna.  
        O pescoço do amargasauro era mais curto do que na maioria dos outros saurópodes,  
        uma característica comum nos Dicraeosauridae. Medindo 2,4 metros (7,9 pés) de comprimento,  
        o pescoço correspondia a 136% do comprimento da coluna vertebral dorsal .</p> 
        <br><br> 
    <h2><strong><p id="classificacaocientifica" class="text">CLASSIFICAÇÃO CIENTÍFICA</p></strong></h2> 
    <div class="classificacao"><p> 
        Reino:	Animalia 
        <br> 
        Filo:	Chordata 
        <br> 
        Clade :	Dinosauria 
        <br> 
        Ordem:	Saurischia 
        <br> 
        Subordem:	† Sauropodomorpha 
        <br> 
        Clade :	† Sauropoda 
        <br> 
        Família:	† Dicraeosauridae 
        <br> 
        Gênero:	† Amargasaurus 
        <br> 
        Espécies:	† A. cazaui 
    </p> 
    <br><br><br><br><br> 
    </div> 
    </div> 
    </div> 
</body> 
</html>