<html>
<head>
  <style>
  div.Amargasaurus {
     text-align: center;
  }
  body{
    background-color: #8bb1c7;
  }
  div.classificacao {
    text-align: center;
  }
  div.texto {
    padding: 180px;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <a class="nav-link" href="#conheca"> Conheça esse dino<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
    <a class="nav-link" href="#alimentacao"> Alimentação<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
    <a class="nav-link" href="#porte"> Porte<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
    <a class="nav-link" href="#classificacaocientifica"> Classificação Científica<span class="sr-only">(current)</span></a>
    </li>
    </ul>
    </div>
    </nav>

  <div class="Amargasaurus">
    <br><br>
    <h1>Amargasaurus</h1>
    <br>
    <figure>
            <img src="/images/amargasaurus2.jpg" alt="Dinos" width="450" height="300">
            <img src="/images/amargasaurus.jpg" alt="Dinos" width="450" height="300">
            <img src="/images/amargasaurus3.jpg" alt="Dinos" width="450" height="300">
        </figure>
    <br>
    <div class="texto">
    <h2><strong><p id="conheca" class="text" >CONHEÇA ESSE DINO</p></strong></h2>
    <p align="justify"><em>Amargasaurus</em> é um género de saurópode, dinossauro do Cretáceo Inferior (129,4-122,46 mya). 
        O único esqueleto conhecido foi descoberto em 1984 e está praticamente completo, incluindo um crânio fragmentado, 
        tornando o Amargasaurus um dos saurópodes mais conhecidos de sua época. O amargasaurus foi descrito 
        pela primeira vez em 1991 e contém uma única espécie, <em>Amargasaurus cazaui</em>. 
        Era um animal grande, mas pequeno para um saurópode, 
        atingindo 9 a 10 metros (30 a 33 pés) de comprimento. Mais distintamente, 
        exibia duas fileiras paralelas de espinhos altos no pescoço e nas costas, 
        mais altos do que em qualquer outro saurópode conhecido. 
        Na vida, esses espinhos provavelmente poderiam ter se destacado no 
        corpo como estruturas solitárias que sustentavam uma bainha queratinosa. 
        O Amargasaurus foi descoberto em rochas sedimentares da Formação La Amarga, 
        que remonta aos estágios barremiano e aptiano tardio do início do Cretáceo. Dentro do Sauropoda,
        o Amargasaurus é classificado como um membro da família <em>Dicraeosauridae</em>, 
        que difere de outros saurópodes por mostrar pescoços mais curtos e tamanhos corporais menores.</p>
        <br><br>
    <h2><strong><p id="alimentacao" class="text">ALIMENTAÇÃO</p></strong></h2>
    <p align="justify">Como herbívoro, 
        compartilhou seu ambiente com pelo menos três outros gêneros de saurópodes, 
        que poderiam ter explorado diferentes fontes de alimentos para reduzir a concorrência. 
        O amargasauro provavelmente se alimentou a meia altura, 
        como mostra a orientação da orelha interna e a articulação das vértebras do pescoço, 
        o que sugere uma posição habitual do focinho a 80 centímetros (31 polegadas) 
        acima do solo e uma altura máxima de 2,7 metros ( 8,9 pés).</p>
        <br><br>
    <h2><strong><p id="porte" class="text" >PORTE</p></strong></h2>
    <p align="justify">O amargasauro era pequeno para um saurópode, medindo 9 a 10 metros (30 a 33 pés): 
        304 de comprimento e pesando aproximadamente 2,6 toneladas (2,9 toneladas).  
        Seguia o plano típico do corpo dos saurópodes , com cauda e pescoço longos, 
        cabeça pequena e tronco em forma de barril, sustentado por quatro pernas em forma de coluna. 
        O pescoço do amargasauro era mais curto do que na maioria dos outros saurópodes, 
        uma característica comum nos Dicraeosauridae . Medindo 2,4 metros (7,9 pés) de comprimento, 
        o pescoço correspondia a 136% do comprimento da coluna vertebral dorsal .</p>
        <br><br>
    <h2><strong><p id="classificacaocientifica" class="text" >CLASSIFICAÇÃO CIENTÍFICA</p></strong></h2>
    <div class="classificacao"><p>
        Reino:  Animalia
        <br>
        Filo: Chordata
        <br>
        Clade : Dinosauria
        <br>
        Ordem:  Saurischia
        <br>
        Subordem: † Sauropodomorpha
        <br>
        Clade : † Sauropoda
        <br>
        Família:  † Dicraeosauridae
        <br>
        Gênero: † Amargasaurus
        <br>
        Espécies: † A. cazaui
    </p>
    <br><br><br><br><br>
    </div>
    </div>
</body>
</html>
