<html>
        <head>
            <style>
.footercabeçalho {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #67805d;
  text-align: center;
}
.nomedaempresacabeçalho{
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.imagemcabeçalho{
  position: absolute;
  left: 10px;
  top: 5px;
}
            </style>
        </html>
    <body>


<div class="footercabeçalho">
    <div class="nomedaempresacabeçalho">
        <strong>Dinoaldo Guerassauro S.A</strong>
    </div>

    <div class="imagemcabeçalho">
         <img src="/images/logositeverdeclaro.jpg" style="width: 130px; height:72px">
    </div>

</div>
    </body>
</html>