<html>
<head>
  <style>
  div.Dilong {
     text-align: center;
  }
  body {
    background-color: #c78b9f;
  }
  div.classificacao {
    text-align: center;
  }
  div.texto {
    padding: 180px;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <a class="nav-link" href="#conheca"> Conheça esse dino<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
    <a class="nav-link" href="#alimentacao"> Alimentação<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
    <a class="nav-link" href="#porte"> Porte<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
    <a class="nav-link" href="#classificacaocientifica"> Classificação Científica<span class="sr-only">(current)</span></a>
    </li>
    </ul>
    </div>
    </nav>

  <div class="Dilong">
    <br><br>
    <h1>Dilong</h1>
    <br>
    <figure>
            <img src="/images/Dilong.jpg" alt="Dinos" width="450" height="300">
            <img src="/images/dilong3.jpg" alt="Dinos" width="450" height="300">
            <img src="/images/dilong4.jpg" alt="Dinos" width="450" height="300">
        </figure>
    <br>
    <div class="texto">
    <h2><strong><p id="conheca" class="text" >CONHEÇA ESSE DINO</p></strong></h2>
    <p align="justify"><em>Dilong</em> é um gênero de dinossauro tiranosauroide basal. 
        A única espécie é o <em>Dilong paradoxus</em>. É da Formação Yixian do Baixo Cretáceo, 
        perto de Lujiatun, Beipiao, na província ocidental de Liaoning, na China. 
        Ele viveu cerca de 126 milhões de anos atrás. O espécime tipo Dilong tinha cerca de 1,6m (5,2 pés) 
        de comprimento, mas acredita-se que seja um jovem e que na verdade possa ter mais de 
        2m(6,6 pés) de comprimento quando totalmente crescido. Dilong paradoxus tinha uma cobertura 
        de penas simples ou protofumas. As penas foram vistas em impressões 
        fossilizadas da pele perto da mandíbula e da cauda. Elas não são idênticas às 
        penas de aves modernas e provavelmente eram usadas para aquecimento, 
        uma vez que não poderiam ter permitido o voo. 
        Especula-se que as penas podem se correlacionar 
        negativamente com o tamanho do corpo - que os juvenis podem ter sido emplumados, 
        depois eliminam as penas e expressam apenas escamas à medida que o animal 
        se torna maior e não precisa mais de isolamento para se aquecer.</p>
        <br><br>
    <h2><strong><p id="alimentacao" class="text">ALIMENTAÇÃO</p></strong></h2>
    <p align="justify">
      
    </p>
        <br><br>
    <h2><strong><p id="porte" class="text" >PORTE</p></strong></h2>
    <p align="justify">
      
    </p>
        <br><br>
    <h2><strong><p id="classificacaocientifica" class="text" >CLASSIFICAÇÃO CIENTÍFICA</p></strong></h2>
    <div class="classificacao"><p>
      Reino:	Animalia
      <br>
      Filo:	Chordata
      <br>
      Clado:	Dinosauria
      <br>
      Ordem:	Saurischia
      <br>
      Subordem:	Theropoda
      <br>
      Superfamília:	†Tyrannosauroidea
      <br>
      Género:	†Dilong
      <br>
      Espécie-tipo: †Dilong paradoxus
    </p>
    <br><br><br><br><br>
    </div>
    </div>
</body>
</html>