<html>
  <head>
    <style>
      body{
        background-image: url(/images/15.jpg);
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: white;
      }
      #txtBusca {
        float:left;
        font-style: white;
        background-color:transparent;
        padding-left:5px; 
        font-size:32px;
        border:none;
        height:32px;
        width:191px
        color: white;;
      }
      #btnBusca {
        border:none;
        float:left;
        height:32px;
        font-size:32px;
        border-radius:0 7px 7px 0;
        width:191px;
        font-weight:bold;
        background:rgb(209, 229, 230);
        background-color: transparent;
      }
      div.a {
        text-align: center;
      }
      div.busca {
        margin: 0 auto;
        width: 20%; 
        color: black;
      }
      input {
        width: 200px;
        height: 100px;
      }
      h1 {
        color: white;
        font-size: 150px;
      }    
      p {
        color: white;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;   
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <a class="nav-link" href="/"> Pagina Inicial<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/quemsomos">Quem somos</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/amargasaurus">Amargasaurus</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/baryonyx">Baryonyx</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/dilong">Dilong</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/guanlong">Guanlong</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/kosmoceratops">Kosmoceratops</a>
    </li>
    <!--<li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Espécies
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="/amargasaurus">Amargasaurus</a>
         <a class="dropdown-item" href="/baryonyx">Baryonyx</a>
         <a class="dropdown-item" href="/dilong">Dilong</a>
         <a class="dropdown-item" href="/guanlong">Guanlong</a>
         <a class="dropdown-item" href="/kosmoceratops">Kosmoceratops</a>
      </li>-->
    </ul>
    </div>
    </nav>
    <p></p>
    <div class="a">
      <br><br><br>
      <h1><a href="/keyword"><font color=white>D</font></a> i n o s s a u r o s </h1>
      <p>Por DINOALDO GUERASSAURO S.A.</p>
      <br><br><br><br>
    </div>
    <div class="busca">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="txtBusca" type="search" placeholder="Digite aqui" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" id="btnBusca" type="submit">Buscar</button>
    </form>
    </div>
  </body>
<html>
  


  