<html>
    <head>
         <script type="text/javascript" src="permissao.js"></script>
         <style>
             body{
              background-color: black;
              text-align: center;
             }
             h1{
              color: white
             }
             h2{
              color: #17a2b8;
             }
             div.keyword{
              margin: 0 auto;
              width: 20%; 
             }
         </style>
    </head>
    <body>
        <br><br><br><br><br>
        <h1>Permissão</h1>
        <br>
        <h2>Insira a palavra chave para acesso</h2>
        <br><br>
        <div class="keyword">
        <form id="formulario">
          <input type="text" placeholder="keyword" id="campo">
          <input type="submit" value="Enter">
        </form>
        </div>
        <a href="/create"><font color=black>click</font></a>
    </body>
</html>
