<html>
        <head>
            <style>
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #176e38;
  text-align: center;
}
.contatofooter {
  position: absolute;
  right: 800px;
  bottom: 16px;
}
.endereçofooter{
  position: absolute;
  right: 150px;
  bottom: 16px;
}
.imagemfooter {
  position: absolute;
  left: 10px;
  bottom: 2px;
}
.nomedaempresafooter {
  position: absolute;
  bottom: 22px;
  left: 100px;
}
            </style>
        </head>
    <body>

<div class="footer">
    <div class="imagemfooter"> 
        <img src="/images/logositeverde.jpg" style="width: 100px; height:60px">
    </div>

    <div class="nomedaempresafooter"> 
        <strong>Dinoaldo Guerassauro S.A</strong>
    </div>
    
    <div class="endereçofooter"> <strong>Endereço</strong>
        <div>
            Rua Bonito Bananinhas, 43, Avenida PulodoGato. 32822398050
        </div>
        
    </div>
   
   

    <div class="contatofooter"> <strong>Contato</strong> 
        <div>
            38252525
        </div>
    </div>
</div>
    </body>
</html>