<html>
    <head>
        <style>
       p{
           color: gray;
       }
       body{
	       background-color: black;
       }
       h1{
           color: white;
       }
       </style>
    </head>
    <body>
        <h1><em><strong>Venda de Dinossauros</strong></em></h1>
        <p>Por <strong><em>DINOALDO GUERASSAURO S.A.</em></strong></p>
        <figure>
            <img src="/images/2.jpg" alt="Dinos" width="400" height="400">
            <figcaption>Conheça nossas espécies e efetue sua compra</figcaption>
        </figure>
        <p></p>
        <a href="https://www.google.com">Menu Principal</a>
        <p></p>
        <p>Para acesso, preencha os campos abaixo</p>
        <form action="/oi" method="post">
            <input type="text" placeholder="username" name="user[email]"></input>
            <input type="password" placeholder="password" name="user[password]"></input>
            <button type="submit">login</buton>
        </form> 
    </body>
</html>